html {
  background-color: #3FBFBF;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 5px solid black;
}

h2 {
  text-align: left;
  font-size: 2em;
  text-decoration: underline;
}

body {
  width: 1400px;
  margin: 0 auto;
  background-color: rgb(214, 219, 219);
  padding: 0;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

main {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
}

