html {
  background-color: #3FBFBF;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 5px solid black;
}

body {
  width: 1400px;
  margin: 0 auto;
  background-color: rgb(214, 219, 219);
  padding: 0;
  border: 5px solid black;
}

main {
  border-width: 0;
  margin: 0 20px 20px 20px;
}

